.MuiAppBar-colorPrimary {
  color: black;
  /* background-color: white; */
}

.custom-drawr .MuiDrawer-paper {
  top: 50px;
}
.MuiDrawer-paperAnchorDockedLeft {
  border-right: none !important;
}
.MuiDivider-root {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.0) !important;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.toolbar {
  box-shadow: none;
  border: 1px solid #ccc;
}
.list-items:hover {
  background-color: #feefc3;
  border-radius: 20px;
  /* border-top-right-radius: 100px;
  border-bottom-right-radius: 100px; */
}

.note-component {
  width: 100%;
  margin-left: 70px;
  margin-right: 10px;
  /* margin-top: 70px; */
  overflow: hidden;
}

.MuiCard-root {
  width: 600px;
  overflow: hidden;
}
/* .MuiCardContent-root:last-child {
    padding: 0 !important;
} */
.input-card {
  /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / */
  box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.75);
  border-radius: 10px !important;
}
.keep-wrd {
  margin: 0;
  padding: 0;
  color: #000;
}
.keep-img{
  height: 30px;
}
.card-container {
  display: flex;
  justify-content: center;
  /* height: 200px; */
  margin-top: 100px;
}
/* Notes-Icon,
ReminderIcon,
EditIcon {
  margin-top: 10px;
} */
.ref-icon,
.view-icon,
.setting-icon,
.app-icon {
  /* color: #202124; */
  color: rgba(0, 0, 0, 0.54);
  margin-left: 2%;
}
.acc-icon{
  color: rgba(0, 0, 0, 0.54);
  margin-left: 5%;

}
.close-icon {
  color: rgba(0, 0, 0, 0.54) !important;
  margin-left: 90%;
  margin-bottom: 100% !important;
}
.makeStyles-search-12 {
  width: 100% !important;
  padding-left: 10%;
}


@media only screen and (max-width: 980px) {
  /* .custom-drawr .MuiDrawer-paper {
    top: 50px;
  } */
}

.title {
  border: none;
  font-size: 18px;
  height: 50px;
}
.title2{
  border: none;
  font-size: 15px;
  height: 50px;

}

.title:focus-visible {
  border: none;
  font-size: 18px;
  outline: none;
}

.logout-popper {
  padding: 40px 30px;
  text-align: center;
  box-shadow: 1px 1px 5px #888888;
}

/* .card-shadow {
    box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
-webkit-box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
-moz-box-shadow: 20px 12px 52px -20px rgba(0,0,0,0.52);
} */
@media only screen and (max-width :500px){

    .MuiCard-root{
        width: 270px;
        margin: 50px;
    } 
    /* .search-bar{
      display: none !important;
    } */
    .view-icon{
     display: none !important;
    }
    
    
}
.close{
  margin-left:90%;
  margin-top:5px;
}.root {
  display: flex;
}
.lastContent {
  display: flex;
  align-items: flex-start;
}
.drawerButton {
  margin: 8px 0 8px 0;
}
.drawerButton:hover {
  background-color: rgb(236, 236, 236);
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
.topBar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.leftOptions {
  width: 70%;
  /* border: black solid; */
  display: flex;
  justify-self: start;
  justify-content: space-between;
}
.rightOptions {
  width: 26%;
  /* border: black solid; */
  display: flex;
  justify-self: end;
  justify-content: space-between;
}
.headerIcon {
  width: 45px;
}
.startOptions {
  display: flex;
  align-items: center;
}
.buttonContainer {
  display: flex;
}
.headerTitle {
  margin: 3%;
  color: #5f6368;
  font-size: x-large;
  font-family: "Product Sans", Arial, sans-serif;
}
.search {
  margin: 5px 5px 5px 5px;
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
}
.searchedButton {
  display: none;
}
.searchIcon {
  margin-left: 3%;
}
.searchInput {
  margin-left: 2%;
  width: 80%;
}
.appsContainer {
  display: flex;
}
.MenuList{ 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 } 

.displayNotes{
  width: 85vw;
  margin: 1%;
}

@media only screen and (max-width: 900px) {
  .search {
    display: none;
  }
  .searchedButton {
    display: initial;
  }
  .leftOptions {
    width: auto;
  }
  .rightOptions {
    width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .headerTitle {
    margin: 1%;
    font-size: 1.1em;
  }
  .headerIcon {
    width: 30px;
  }
  .rightOptions {
    justify-content: flex-end;
  }
}