.first-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgotpassword-container{
    margin-top: 100px;
    padding: 48px 40px 25px;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(187, 185, 185);
    border-radius: 10px;
   width: 30rem;
   height: auto;
    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}

.sendbtn{
    margin-top: 50px;
    margin-left: 400px;
    bottom:80px; 
}
.letterF{
    color: #0606f8;
    font-size: 30px;
}
.letteru{
    color:#d10303;
    font-size: 30px;
}
.lettern{
    color:#f0b000;
    font-size: 30px;
}
.letterd{
    color: green;
    font-size: 30px;
}
.letterO{
    color: #d10303;
    font-size: 30px;
}
.lettero{
    color: #0606f8;
    font-size: 30px;

}
@media only screen and (max-width:600px) {
    .forgotpassword-container{
        height: 100%;
        padding: 10%;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        border: none;
       overflow: hidden;
       
    }
}

.headingsign{
    margin-left:30%;
}
.headingaccount{
    margin-left:30%;
}
.fundoosign{
    margin-left:30%;
    font-size: 65x;
}