/* import React, { Component } from 'react'
import TextField from '@material-ui/core/TextField';
import Button from '@material-ui/core/Button';

export class FormValidation extends Component {
    constructor(props) {
        super(props)

        this.state = {
          
          
         password: "",
          confirm: "",
          passwordError: false,
          confirmError: false,
         
          
        }
    }

    validation = () => {
        let isError = false;
        const errors= this.state;
        errors. passwordError= this.state.password === '' ? true : false;
        errors. confirmError= this.state.confirm === '' ? true : false;

        this.setState({
            ...errors,
        })
        return isError = errors. confirmError || errors.passwordError

    }

    Next = () => {
        var isValidated = this.validation();
        if(!isValidated){
            console.log("validation successfull");
        }
    }

    change = e => {
        this.setState({
          [e.target.name]: e.target.value
        });
      }

    render() {
        return (
            <div className="validation">
                <TextField 
                    error = {this.state.passwordError}
                    label="Password"
                    type="text"
                    name="password"
                    variant="outlined"
                    fullWidth
                    onChange={e => this.change(e)}
                    helperText={this.state.passwordError ? "Enter Valid Password" : ''}/>
                <TextField 
                    error = {this.state.confirmError}
                    label="Confirm"
                    type="text"
                    name="Confirm"
                    fullWidth
                    variant="outlined"
                    onChange={e => this.change(e)}
                    helperText={this.state.confirmError ? "Confirmed Password" : ''} />
                    <div>
                <Button variant="contained" color="primary" onClick={this.Next}>
                    Next
                </Button>
                </div>
            </div>
        )
    }
} */

/* export default FormValidation */
