/* import React, { Component } from 'react'
import TextField from '@material-ui/core/TextField';
import Button from '@material-ui/core/Button';

export class FormValidation extends Component {
    constructor(props) {
        super(props)

        this.state = {
            email: '',
            passsword: '',
            emailError: false,
            passwordError: false
        }
    }

    validation = () => {
        let isError = false;
        const errors= this.state;
        errors. emailError= this.state.email === '' ? true : false;
        errors. passwordError= this.state.password === '' ? true : false;

        this.setState({
            ...errors,
        })
        return isError = errors. emailError || errors.passwordError

    }

    Next = () => {
        var isValidated = this.validation();
        if(!isValidated){
            console.log("validation successfull");
        }
    }

    change = e => {
        this.setState({
          [e.target.name]: e.target.value
        });
      }

    render() {
        return (
            <div className="validation">
                <TextField 
                    error = {this.state. emailError}
                    label="Email"
                    type="text"
                    name="email"
                    variant="outlined"
                    fullWidth
                    onChange={e => this.change(e)}
                    helperText={this.state.emailError ? "Enter Your Email Id" : ''}/>
                <TextField 
                    error = {this.state.passwordError}
                    label="Password"
                    type="text"
                    name="Password"
                    fullWidth
                    variant="outlined"
                    onChange={e => this.change(e)}
                    helperText={this.state.passwordError ? "Enter  Password" : ''} />
                    <div>
                <Button variant="contained" color="primary" onClick={this.Next}>
                    Next
                </Button>
                </div>
            </div>
        )
    }
} */

/* export default FormValidation */
